In [37]:
!wget -c http://images.cocodataset.org/annotations/annotations_trainval2017.zip
!!unzip -o annotations_trainval2017.zip

--2022-01-18 12:27:36--  http://images.cocodataset.org/annotations/annotations_trainval2017.zip
Resolving images.cocodataset.org (images.cocodataset.org)... 54.231.138.129
Connecting to images.cocodataset.org (images.cocodataset.org)|54.231.138.129|:80... connected.
HTTP request sent, awaiting response... 416 Requested Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

['Archive:  annotations_trainval2017.zip',
 '  inflating: annotations/instances_train2017.json  ',
 '  inflating: annotations/instances_val2017.json  ',
 '  inflating: annotations/captions_train2017.json  ',
 '  inflating: annotations/captions_val2017.json  ',
 '  inflating: annotations/person_keypoints_train2017.json  ',
 '  inflating: annotations/person_keypoints_val2017.json  ']

In [38]:
import json
import pandas as pd
with open('./annotations/captions_val2017.json') as json_file:
    data = json.load(json_file)

df= pd.DataFrame(data['annotations'])
df[df['caption'].str.contains('|'.join(['sand','grass','snow','wind','mountain','valley','water','forest','city','hill','valley','sky']))]

       image_id      id                                            caption
1        179765     182      A Honda motorcycle parked in a grass driveway
10       517069     957  A woman sitting on a bench in the middle of th...
32       172330    5037  A cat stands between two parked cars on a gras...
62       338325    9769  A striped plane flying up into the sky as the ...
63        65485    9862  A dog driving an SUV in an open grass covered ...
...         ...     ...                                                ...
24890    183965  703737  A tray holding a sandwich and cappuccino, next...
24894    521282  705144  clear vase filled with white and yellow flower...
24927    218249  742532      A food tray with french fries and a sandwich.
25002    537802  814283  Three teddy bears sit on a fake sled in fake s...
25005    537802  815928      Three teddy bears sit in a sled in fake snow.

[3726 rows x 3 columns]